.menu-3089, ul.links li.menu-3089 {
  background-image: url(http://162.243.17.140/files/menu_icons/menu_icon_3089.gif);
  padding-left:35px;
  background-repeat: no-repeat;
  background-position: left;
  height: 35px;
}

.menu-3088, ul.links li.menu-3088 {
  background-image: url(http://162.243.17.140/files/menu_icons/menu_icon_3088.gif);
  padding-left:34px;
  background-repeat: no-repeat;
  background-position: left;
  height: 34px;
}

.menu-3087, ul.links li.menu-3087 {
  background-image: url(http://162.243.17.140/files/menu_icons/menu_icon_3087.gif);
  padding-left:34px;
  background-repeat: no-repeat;
  background-position: left;
  height: 34px;
}

.menu-3086, ul.links li.menu-3086 {
  background-image: url(http://162.243.17.140/files/menu_icons/menu_icon_3086.gif);
  padding-left:34px;
  background-repeat: no-repeat;
  background-position: left;
  height: 34px;
}

.menu-2985, ul.links li.menu-2985 {
  background-image: url(http://162.243.17.140/files/menu_icons/menu_icon_2985.gif);
  padding-left:14px;
  background-repeat: no-repeat;
  background-position: left;
  height: 14px;
}

.menu-2982, ul.links li.menu-2982 {
  background-image: url(http://162.243.17.140/files/menu_icons/menu_icon_2982.gif);
  padding-left:14px;
  background-repeat: no-repeat;
  background-position: left;
  height: 14px;
}

.menu-2890, ul.links li.menu-2890 {
  background-image: url(http://162.243.17.140/files/menu_icons/menu_icon_2890.gif);
  padding-left:11px;
  background-repeat: no-repeat;
  background-position: left;
  height: 11px;
}

